<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Calculator credit" Language="1033" Version="1.0.0.0" Manufacturer="AvishICTSTUDENT" UpgradeCode="A8332332-9546-412A-A234-62A01F28CC12">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WixExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="calculatorcredit" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="calculatorcredit.exe" Guid="89E52C14-1E04-4AC8-9915-3F89F219CFF7">
				<File Id="calculatorcredit.exe" Name="calculatorcredit.exe"
					  Source="$(var.calculatorcredit.TargetDir)calculatorcredit.exe" />
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
